*.pdf
*.zip
node_modules
Assignments/Assignment 4/public/bundle.js
Project/source code/public/bundle.js
Project/source code/dist
Project/source code/frontend/public/bundle.js
bundle.js
Project/source code/frontend/public/bundle.js

Project/source code/backend/dist/server.js
